@media (min-width: 769px) {
    .body_login{
        background-image: url(../../images/fundo_login.png);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .body_login{
        background-color: white;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
}


.area_form_login{
    padding: 16px 32px 32px 32px;
    background-color: white;
    height: fit-content !important;
    width: 450px !important;
    border-radius: 15px;
}